.container {
    max-width: 1920px;
    width: 100%;
    margin-inline: auto;
    border: 1px soild red;
}

/*Header*/
.section1 {
    width: 100%;
    height: 720px;
    padding-bottom: 625;
    background-image: url("../img/header.png");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    border: 2px solid blue;
    margin-bottom: 160px;
}

header {
    position: fixed;
    width: 100%;
    height: 96px;
    padding: 0px 240px 0px 240px;
    background: #D5906E85;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid white;
}

a {
    color: #FFFFFF;
}

a:hover {
    color: red;
}

ul {
    display: flex;
    gap: 60px;
}

li {
    font-family: 'Inter', sans-serif;
    line-height: 22px;
    vertical-align: top;
    font-size: 18px;
}



.fa-bars {
    display: none;
    color: #FFFFFF;
}

.Sing_In {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    display: flex;


}

.fa-cart-shopping {
    padding-left: 16px;
}

.section1_text {
    width: 39%;
    margin: 283px auto 0 auto;
    text-align: center;
    border: 2px solid pink;
}

h2 {
    font-family: 'Inter';
    padding-bottom: 16px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

}

p {
    font-family: 'Inter';
    padding-bottom: 72px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 19px;
}

.Shop_Now {
    width: 30%;
    height: 53px;
    border: 2px solid #d5906e;
    background: none;
    color: #FFFFFF;
    border-radius: 10px;

}

/*article*/
article {
    width: 48%;
    display: flex;
    margin: auto;
    border: 2px solid pink;
    margin-bottom: 160px;


}

.article_card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

figcaption {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.125rem;
    color: #B53B1B;
    margin-top: 24px;
    text-align: center;
}

.acticle_Potos {
    width: 100%;
    height: 100%;

}

/*section_2*/
.section2 {
    width: 100%;
    height: 922px;
    background-color: #402101;
    margin: auto auto 160px auto;
    border: 2px solid green;


}

.Section_h2 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 2.5rem;
    color: #FFFFFF;
    text-align: center;
    padding: 96px 0 40px 0;
}

.Gallery_potos {
    width: 100%;
    height: 642px;
    padding: auto 365px 96px 365px;
    margin: auto;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid skyblue;

}

.Gallery_Potos1 {
    width: 65%;
    height: 100%;
    display: flex;
    gap: 58px;



}

.Gallery_Potos2 {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 60px;
    padding-bottom: 96px;

}

/*article2*/
.article2 {
    width: 75%;
    height: 30%;
    flex-direction: column;
    margin: 160 auto;
    border: 2px solid lightgreen;
}

.article2_h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 40px;
    color: #402101;

}

.Four_img {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;

}

.List_Potos {
    height: 10%;
    height: 30%;
    border: 2px solid wheat;
}

.Img_four {
    width: 100%;
}

.prices {
    width: 88px;
    height: 48px;
    background: #fff;
    border-radius: 20px;
    align-items: center;
    position: relative;
    top: -70px;
    left: 40px;



}

.price_cost {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #B53B1B;
    padding-left: 20px;
    position: absolute;
    margin-top: 15px;
}

.List_Potos:hover {
    transform: scale(1.3)
}

.fa-left-from-line {
    color: yellow;
}

/*section3*/
.section3 {
    width: 100%;
    height: 480px;
    margin: auto;
    display: flex;
    align-items: center;
    background-image: url("../img/Poto_14.png");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    border: 2px solid aqua;
}

.Section3_h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    line-height: 48px;
    color: #FFFFFF;
}


.Section3_Method {
    width: 30%;
    height: 38%;
    margin: auto;
    border: 2px solid fuchsia;
}

.imput_Visual {
    margin-top: 45px;
    padding-left: 40px;


}

.user_info_input {
    width: 65%;
    height: 59px;
    font-family: 'Inter';
    font-size: 16px;
    color: #fff;
    background: none;
    border: 1px solid #fff;
    border-radius: 10px 0px 0px 10px;
    border-right-style: none;
    outline: none;
}

.sub {
    width: auto;
    height: 59px;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid white;
}

/*article Texts*/
.aritcle_texts {
    width: 73%;
    display: flex;
    flex-direction: column;
    margin: 160px auto 112px auto;
}

.article_texth2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
    line-height: 44px;
    color: #402101;

}

.article_div_texts {
    display: flex;
    justify-content: space-between;
}

.article_div {
    width: 32%;
    height: 130px;
    font-size: 16px;
    border-radius: 8px;
    background: rgba(213, 144, 110, 0.3);
}

.texts_h3_isnide {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    padding-bottom: 24px;
    display: flex;
    font-size: 24px;
    line-height: 29px;
    color: #B53B1B;
}

.p_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #402101;
}

.help_div {
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.help_h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #402101;
    margin-bottom: 20px;
}

.help_buttn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29.05px;
    padding: 14px 54px;
    background: #B53B1B;
    color: #FFFFFF;
    margin-bottom: 160px;
}

/*footer*/
footer {
    width: 100%;
    background: #402101;
    margin: auto;
    padding: 32px 365px 57px 365px;
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}

.div_left {
    display: flex;
    flex-direction: column;
}

.footer_h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 18px;
    color: #FFFFFF;
}

.fot_p {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    padding-top: 10px;
    line-height: 19px;
    color: #FFFFFF;
}

.icons_packleft {
    margin-top: 43px;
    display: flex;
    gap: 27px;
    font-size: 24px;
}

.div_right {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    color: white;

}

.i_text {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-left: 10px;
}

/*arts New HTML PAGE STARTS*/
/*header*/
.container_arts {
    max-width: 1920px;
    width: 100%;
    margin-inline: auto;
}

.section_arts_header {
    width: 100%;
    height: 720px;
    padding-bottom: 625;
    background-image: url("../img/artheaderpoto.png");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    border: 2px solid blue;
    margin-bottom: 160px;
}
/*search buttun*/
.search_arts{

    border: 2px solid pink;
}
.Arts_search_div{
    width:  40%;
    margin: 178px auto 61px auto;
    display: flex;
    align-items: center;
    border: 2px solid aqua;
}
.artwork_h2{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #402101;
padding-right: 95px;
padding-top: 10px;
}
.search_form{
    width: 100%;
    display: flex;
}
.artwork_input{
    width: 100%;
    display: flex;
}
.artwork_search_btn{
    width: 30%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    outline: none;0 

}


/*Gallery img*/
.Arts_gallery {
    width: 50%;
    border: 2px solid red;
}

.Arts_gallery {
    width: 90%;
    margin-inline: auto;
}

.Aart_h2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.potos_h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #402101;
}

.category_p {
    background: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #402101;
}

.second_figure {
    width: 100%;
    margin: 94px 0px 80px 0px;
    display: flex;
    justify-content: space-between;
    border: 2px solid gold;

}

.arts_figure {
    width: 23%;
}

.artwork_img {
    width: 100%;
}

.p_name {
    margin: 24px 0px 28px 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #B53B1B;
}

.price_div {
    display: flex;
    justify-content: space-between;

}

.p_prcie {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #402101;
}

.product_icon {
    font-size: 16px;
}

